.guestbook-title {
    font-family: "KOTRA_BOLD-Bold";
    color: #95b2f0;
    margin-left: 3px;
}

.content-box {
    position: relative;
}

.scroll-box {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: auto;
}

.guest-title {
   height: 2rem;
   background-color: #e7e7e7;
   display: flex;
   align-items: center;
   padding: 0 1rem;
   font-size: 0.8rem;
}

.guestbook-title > span {
    margin-right: 0.5rem;
}

.guest-name {
    color: blue;
}

.guestbook-box {
    margin-bottom: 2rem;
}

.guestbook-contents {
    display: flex;
    padding: 1.5rem 0;
}

.guestbook-image {
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.guestbook-box > .guest-title > .fas {
    text-align: right;

}

.guestbook-memo {
    flex: 1;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    line-height: 1.5;
  }





