.news-flex-box {
  flex: 0 0 auto;
  margin-bottom: 2rem;
  display: flex;
  font-size: 0.8rem;
}

.news-box {
  flex: 1;
}

.update-box {
  flex: 1;
}

.miniroom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-title {
  font-family: "KOTRA_BOLD-Bold";
  border-bottom: 1px solid grey;
  color: #95b2f0;
}

.news-row {
  display: flex;
  font-size: 0.85rem;
  margin: 3px 0;
}

.news-category {
  padding: 0 6px;
  margin-right: 6px;
  color: white;
  border-radius: 3px;
}

.category-pic {
  background-color: #d79ffc;
}

.category-post {
  background-color: #617dc1;
}

.menu-row {
  display: flex;
  border-bottom: 1px dashed grey;
  margin: 3px 0;
}

.menu-item {
  flex: 1;
}

.menu-num {
  font-family: "NeoDunggeunmo";
  padding-left: 6px;
  color: #003399;
}

.miniroom-gif-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
}

.miniroom-gif-box > img {
 width: 90%;
}

.write {
  margin-left: 195px;
  margin-top: 10px;
}